#custom-main-outer {
    display: flex;
    flex-wrap: wrap;
}

#custom-main-inner {
    margin: 0 auto;
    max-width: 100%;
    width: 640px;
    padding: 2em;
    background-color: var(--ui-footer-background);
    border-left: 1px solid var(--ui-separator);
    border-right: 1px solid var(--ui-separator);
}

#custom-main-inner a {
    color: var(--ui-link-color);
}

h2, h3, p {
    margin-bottom: 1em;
}

