:root {
  --opacity-transition: 200ms cubic-bezier(0.4, 0.1, 0.2, 0.1);
}

html {
  /* disable pull-to-refresh in mobile browsers */
  overflow: hidden;
  overscroll-behavior: none;
}

#main-inner:focus {
  outline: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: var(--ui-background);
  opacity: 0.9;
}

#overlay-message {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: var(--ui-text-color);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.container {
  width: 100%;
  margin: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: auto;
  margin-right: auto;
  width: fit-content; /* This ensures that the grid doesn't stretch beyond its content */
  grid-gap: 0; 
}

.gallery_cell {
  box-sizing: border-box;
  border: 1px solid transparent;
  /* background-color: #303030; */
  /* opacity: 0.9; */
  position: relative;
}

@media (hover: hover) and (pointer: fine) {
  /* Desktops with mouse */
  .gallery_cell:hover img {
    opacity: 0.6;
    -webkit-transition: opacity var(--opacity-transition);
    -moz-transition: opacity var(--opacity-transition);
    -o-transition: opacity var(--opacity-transition);
    transition: opacity var(--opacity-transition);
  }

  .gallery_cell:hover {
    cursor: pointer;
    border-color: #fff;
    border-radius: 3px;
    background-color: rgb(50, 50, 50);
  }
}

.gallery_cell {
  display: inline-block; /* Makes the <a> tag behave like a block element */
  margin: auto;
  object-fit: none;
  overflow: hidden;
  line-height: 0;       /* Removes extra space inside <a> tag */
}

.gallery_cell_image_normal {
  width: 160px;
  height: 80px;
  object-fit: scale-down;
}

.gallery_cell_image_wide {
  width: 320px;
  height: 80px;
  object-fit: scale-down;
}

.gallery_cell_normal {
}

.gallery_cell_wide {
  grid-column: span 2; /* Span across two columns */
}

#dataset-label {
  display: none;
}
@media only screen and (min-width: 800px) {
  #dataset-label {
    display: inline-block;
  }
}

#tool-label {
  display: none;
}
@media only screen and (min-width: 800px) {
  #tool-label {
    display: inline-block;
  }
}

#settings-button,
#github-link,
#discord-link {
  font-size: 10px;
}

#github-link,
#discord-link {
  display: none;
}

@media only screen and (min-width: 600px) {
  #github-link {
    display: inline-block;
  }
}
@media only screen and (min-width: 800px) {
  #discord-link {
    display: inline-block;
  }
}

@media only screen and (min-width: 850px) {
  #settings-button,
  #github-link,
  #discord-link {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1000px) {
  #settings-button,
  #github-link,
  #discord-link {
    font-size: 15px;
  }
}

@media (min-width: 350px) { 
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 510px) { 
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 670px) { 
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 830px) { 
  .gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 990px) { 
  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1150px) { 
  .gallery {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (min-width: 1310px) { 
  .gallery {
    grid-template-columns: repeat(8, 1fr);
  }
}

#advanced-tool.hidden {
  display: none !important;
}
